@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
.news-category {
  width: 343px;
  padding-right: 23px;
  box-sizing: border-box; }
  .news-category__header {
    text-transform: uppercase;
    display: block;
    border-left: 5px solid #fe5f02;
    font-weight: bold;
    padding: 0px 15px;
    margin: 0 0 15px 0;
    font-size: 18pt;
    line-height: 18px; }
  .news-category__post-cover--img {
    width: 320px; }
    .news-category__post-cover--img img {
      width: inherit; }
  .news-category__post-cover--title {
    font-size: 16pt;
    margin: 10px 0; }
    .news-category__post-cover--title a {
      text-decoration: none;
      display: block;
      color: #2d2d2d;
      font-size: 20px;
      line-height: 24px;
      font-family: SFD-Bold; }
  .news-category__post-cover--description {
    font-size: 14px;
    line-height: 20px;
    color: #555; }
  .news-category__news-relate {
    padding: 0;
    margin: 0;
    list-style: none; }
    .news-category__news-relate li {
      padding: 10px 0;
      border-top: 1px solid #e6e6e6; }
      .news-category__news-relate li a {
        text-decoration: none;
        display: block;
        color: #2d2d2d;
        font-size: 15px;
        line-height: 18px;
        font-family: SFD-Medium; }

/*# sourceMappingURL=bai6.css.map */
