

$box-width: 300px;
$box-height: auto;
$font-family: Arial;

.list-news {
	max-width: $box-width;
	max-height: $box-height;
	font-family: $font-family;
	.lists {
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		.article {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			&__img {
				width: 60px;
				height: 60px;
				margin-right: 10px;
				display: block;
				img {
					width: inherit;
					height: inherit;
				}
			}
			&__content {
				margin:0;
				a {
					color: #333;
					font-size: 14px;
					line-height: 14*1.5px;
					text-decoration: none;
				}
			}
		}
	}
}