
$box-width: 300px;
$box-height: auto;
$font-family: Arial;

$background-header: #8a0304;

%border-align {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 10px;
}

%reset-ul {
	padding: 0px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

@mixin define-a($color,$size,$line-height:auto) {
	color: $color;
	line-height: $line-height;
	text-decoration: none;
	font-size: $size;
	display: block;
}

.ads-wrapper {
	max-width: $box-width;
	max-height: $box-height;
	font-family: $font-family;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	// header
	.header {
		position: relative;
		background: $background-header;
		line-height: 40px;
		&__title {
			text-transform: uppercase;
			font-size: 14px;
			color: #fff;
			margin: 0 10px;
		}
		&__icon-link {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			display: block;
			background: url("image/adxlogo-2.png") no-repeat top right;
			width: 35px;
			height: 20px;
			text-decoration: none;
			&:hover {
				width: 109px;
				background: url("image/adxlogo-2-hover.png") no-repeat top right;
				padding-left: 10px;
				.txtlogo {
					display: block;
					box-sizing: content-box;
					display: block;
					font: 11px tahoma,arial;
					color: #9b9b9b;
					line-height: 17px;
					margin-left: 15px;
				}
			}
			.txtlogo {
				display: none;
			}
			
		}
	}
	
	// main content: 
	.content {
		.article {
			@extend %border-align;
			display: flex;
			&__img {
				width: 100px;
				height: 100px;
				margin-right: 10px;
			}
			&__content {
				margin: 0;
				a {
					@include define-a(#554e4e,13px,17px);
				}
				p {
					color: #797979;
					margin: 10px 0 0 0;
					font-weight: normal;
					font-size: 12px;
				}
			}
		}

		.list-relate {
			@extend %reset-ul;
			li {
				position: relative;
				@extend %border-align;
				a {
					@include define-a(#554e4e,13px,17px);
					font-weight: bold;
					margin-left: 15px;
					&::before {
						content: "•";
						font-size: 30px;
						display: inline-block;
						color: $background-header;
						position: absolute;
						top: 11px;
						left: 10px;
					}
				}
			}
		}
	}

	//footer
	.footer {
		line-height: 50px;
		&__author {
			color: #989898;
			font-size: 13px;
			margin-left: 10px;
			&--links {
				color: $background-header;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}