@import "../../libs/mixin";

$font-sfd-bold: SFD-Bold;
$font-sfd-medium: SFD-Medium;
$font-arial: Arial;

body {
	max-width: 700px;
	margin: auto;
}

.article {
	align-content: center;
	display: flex;
	margin-top: 20px;
	.img-cover img{
		max-width: 250px;
		height: 330px;
		margin-right: 20px;
	}
	.content {
		.post-cover {
			.title-post {
				@include reset-pm;
				a {
					@include define-a(#333,20px);
					line-height: 26px;
					margin-top: -5px;
					font-family: $font-sfd-bold;
				}
			}
			.category-time {
				color: #777;
				font-size: 14px;
				font-family: $font-sfd-medium;
				margin-top: 10px;
				display: block;
				>span {
					color: #41455e;
					font-size: 14px;
					font-family: $font-sfd-medium;
				}
			}
			.description {
				    font-size: 13px;
				    font-family: $font-arial;
				    color: #4d4d4d;
				    line-height: 18px;
				    display: block;
			}
		}
		.read-more {
			border-top: 1px dotted #cbcbcb;
			padding-top: 15px;
			color: #949494;
			font-size: 11px;
			margin: 0px;
		}
		.news-relate {
			@include reset-pm;
			li {
				padding: 5px 0 5px 13px;
				list-style: none;
				a {
					@include define-a(#41455e,14px);
					font-family: $font-sfd-bold;
					line-height: 20px;
					&::before {
						content: "■";
						color: #fc743b;
						font-weight: bold;
						display: inline-block; 
						width: 1em;
						margin-left: -1em;
					}
					span {
						font-size: 13px;
						color:#888;
						font-family: $font-sfd-medium;
					}
				}
				
			}
		}
	}
}