.body {
  margin: 0; }

.wrapper {
  width: 100vw;
  height: 100vh; }
  .wrapper .box {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center; }
    .wrapper .box__note {
      width: 250px;
      line-height: 100px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      display: block;
      margin: auto; }
  .wrapper .news {
    padding: 50px;
    background: #ffffe7; }
    .wrapper .news__content {
      font-size: 16px;
      line-height: 20px;
      color: #4c4c4c; }
  .wrapper .box1 {
    background: url("images/3.jpg") no-repeat fixed center; }
    .wrapper .box1__note {
      background: rgba(234, 190, 101, 0.6);
      border: 3px solid #c3842785; }
  .wrapper .box2__header {
    text-align: center;
    color: #333; }
  .wrapper .box3 {
    background: url("images/1.png") no-repeat fixed center; }
    .wrapper .box3__note {
      background: rgba(181, 158, 140, 0.88);
      border: 3px solid #edd0b2;
      color: #333; }
  .wrapper .box4 {
    background: #ffebc2; }
    .wrapper .box4__content {
      text-align: center; }
  .wrapper .box5 {
    background: url("images/1.jpg") no-repeat fixed center; }
    .wrapper .box5__note {
      background: rgba(153, 112, 33, 0.64);
      border: 3px solid #866730; }

/*# sourceMappingURL=paralax.css.map */
