@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
.list-news {
  width: 325px; }
  .list-news ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff9f3; }
    .list-news ul .news {
      display: flex;
      border-bottom: 1px dotted #c2c2c2; }
      .list-news ul .news__time-post, .list-news ul .news__content {
        margin: 5px 0px;
        padding: 10px; }
      .list-news ul .news__time-post {
        color: #fe5f02;
        border-right: 1px dotted #c2c2c2; }
      .list-news ul .news__content a {
        text-decoration: none;
        display: block;
        color: #3e3e3d;
        font-size: 16px;
        line-height: auto; }

/*# sourceMappingURL=bai4.css.map */
