.links-news {
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none; }
  .links-news li {
    padding: 10px; }
    .links-news li::before {
      content: "\2022";
      color: #fc743b;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }
    .links-news li a {
      color: #383d54;
      text-decoration: none; }

/*# sourceMappingURL=bai8.css.map */
