@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
#wrapper {
  max-width: 720px;
  margin: auto;
  font-family: SFD-Bold; }
  #wrapper .article {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border-bottom: 1px solid #dadada; }
    #wrapper .article .left {
      margin-right: 20px; }
      #wrapper .article .left img {
        max-width: 250px;
        height: 164px;
        margin-top: 5px; }
    #wrapper .article .right .title {
      text-decoration: none;
      margin: 0px; }
      #wrapper .article .right .title h3 {
        color: #323232;
        margin: 0px;
        font-size: 20px;
        line-height: 26px; }
    #wrapper .article .right .cate-time {
      padding: 10px 0px; }
      #wrapper .article .right .cate-time span, #wrapper .article .right .cate-time .post-time {
        font-size: 14px; }
      #wrapper .article .right .cate-time span {
        color: #004174; }
      #wrapper .article .right .cate-time .post-time {
        color: #757575;
        font-family: Arial; }
    #wrapper .article .right .desc {
      color: #4b4b4b;
      font-size: 13px;
      line-height: 18px;
      font-family: Arial; }

/*# sourceMappingURL=news-list1.css.map */
