.container {
	max-width: 450px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	img {
		background: #F1F1FA;
		width: 400px;
		height: 300px;
		margin: 10px 0;
		border: 0;
	}
}