@import "../../libs/mixin";

$box-width: 700px;
$box-height: auto;
$color-title: #333;

.news-slide {
	max-width: $box-width;
	height: $box-height;
	font-family: Arial;
	box-sizing: border-box;
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	// top
	

	//news slide
	.news-list {
		@include reset-ul-li;
		position: relative;
		overflow: hidden;
		// z-index: 100;
		// animation-name: hidden__btn-prev;
		// animation-duration: .5s;
		// -webkit-animation-name: hidden__btn-prev;
		// -webkit-animation-duration: .5s;
		//left: -25px;
		ul {
			width: 284*10+20px; //=sum(li)*width(li)+margin20
			height: 278px;
			overflow-x: hidden;
			overflow-y: hidden;
			display: flex;
			white-space: nowrap;
			position: relative;
		}
		// news list
		.article {
			width: 262px;
			height: 278px;
			margin-left: 20px;
			border: 1px solid #e6e6e6;
			background: #fff;
			border-radius: 3px;
			box-sizing: content-box;
			box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.05);
			.header {
				display: block;
				img {
					width: 100%;
					height: auto;
				}
			}
			.title {
				padding: 10px;
				margin: 0px;
				font-size: 17px;
				width: inherit;
				box-sizing: border-box;
				a {
					@include define-a($color-title, 17px, 22px);
					font-family: SFD-Bold;
					white-space: pre-line;
				}
			}
		}
		
		// button control next-previous
		.btn-prev, .btn-next, .btn-disable {
			position: absolute;
			width: 35px;
			height: 95px;
			z-index: 10;
			cursor: pointer;
			top: 50px;
		}
		// button previous
		.btn-prev {
			background: url("image/kenh14-vn.png") -70px -137px no-repeat;
			left: -35px;
			background-color: rgba(251, 108, 39, 0.9);
			border-radius: 0 3px 3px 0;
			transition: .5s;
		}
		// button next
		.btn-next {
			background: url("image/kenh14-vn.png") -115px -137px no-repeat;
			right: 0;
			background-color: rgba(251, 108, 39, 0.9);
			border-radius: 3px 0 0 3px;
		}
		.btn-prev, .btn-next {
			&:hover {
				background-color: rgba(251, 108, 39, 1);
			}
		}

		//button disable
		.btn-disable {
			background-color: #333 !important;
			opacity: .8;
			pointer-events: none;
		}
		&:hover {
			.btn-prev {
				animation-name: show__btn-prev;
				animation-duration: .5s;
				-webkit-animation-name: show__btn-prev;
				-webkit-animation-duration: .5s;
				left: 0;
			}
		}
	}

	//dotted control
	.control {
		text-align: center;
		margin: 20px 0;
		.dotted {
			width: 8px;
			height: 8px;
			background: #c4c4c4;
			border-radius: 50%;
			margin: 3px;
			display: inline-block;
			cursor: pointer;
		}
		.slide-active {
			background-color: #ff8000;
		}
	}
}

// animation show button previous of slide
@keyframes show__btn-prev {
	from {left: -35px}
	to {left: 0}
}
@-webkit-keyframes show__btn-prev {
	from {-webkit-left: -35px}
	to {-webkit-left: 0}
}


@keyframes hidden__btn-prev {
	from {left: 0}
	to {left: -35px}
}
@-webkit-keyframes hidden__btn-prev {
	from {-webkit-left: 0}
	to {-webkit-left: -35px}
}

.move-left-x {
	margin: 0 -35px !important;
	transition: .5s;
}

.move-right-x {
	margin: 0 35px !important;
	transition: .5s;
}
