@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
#box-sport {
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  background: #f0f0f0;
  padding-bottom: 20px; }
  #box-sport .top {
    background: url("image/top.png");
    width: inherit;
    height: 33px; }

.post-highlight {
  align-content: center;
  display: flex;
  margin: 20px 20px 10px 20px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px; }
  .post-highlight .img-cover {
    width: 55%;
    margin-right: 20px; }
    .post-highlight .img-cover img {
      width: 100%; }
  .post-highlight .content {
    width: 45%; }
    .post-highlight .content .post-cover .title-post {
      padding: 0;
      margin: 0; }
      .post-highlight .content .post-cover .title-post a {
        color: #004175;
        line-height: 30px;
        text-decoration: none;
        font-size: 24px;
        display: block;
        margin-top: -5px; }
    .post-highlight .content .post-cover .description {
      font-size: 15px;
      font-family: Arial;
      color: #111;
      line-height: 18px;
      display: block; }

.news-slide {
  max-width: 580px;
  height: auto;
  font-family: Arial;
  box-sizing: border-box;
  margin-left: 20px; }
  .news-slide .news-list {
    position: relative;
    overflow: hidden;
    width: inherit; }
    .news-slide .news-list ul {
      padding: 0px;
      margin: 0px; }
      .news-slide .news-list ul li {
        list-style: none; }
    .news-slide .news-list .gallery {
      width: 1820px;
      display: flex;
      white-space: nowrap;
      position: relative;
      transition: .5s; }
    .news-slide .news-list .article {
      width: 178px;
      margin-left: 20px;
      border: 1px solid #e6e6e6;
      background: #fff;
      border-radius: 3px;
      box-sizing: content-box;
      box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column; }
      .news-slide .news-list .article .header {
        position: relative;
        display: block; }
        .news-slide .news-list .article .header img {
          width: 100%;
          height: auto; }
      .news-slide .news-list .article .title {
        padding: 10px;
        margin: 0px;
        font-size: 17px;
        width: inherit;
        box-sizing: border-box; }
        .news-slide .news-list .article .title a {
          color: #004175;
          line-height: 22px;
          text-decoration: none;
          font-size: 17px;
          display: block;
          font-family: SFD-Bold;
          white-space: pre-line; }
    .news-slide .news-list .btn-prev, .news-slide .news-list .btn-next, .news-slide .news-list .btn-disable {
      position: absolute;
      width: 35px;
      height: 65px;
      z-index: 10;
      cursor: pointer;
      top: 20px; }
    .news-slide .news-list .btn-prev, .news-slide .news-list .btn-next {
      background: url("image/next.png") 10px 15px no-repeat;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 3px 0 0 3px; }
    .news-slide .news-list .btn-prev {
      transform: scale(-1);
      filter: FlipH;
      left: -35px;
      transition: .5s; }
    .news-slide .news-list .btn-next {
      right: 0; }
    .news-slide .news-list .btn-disable {
      background-color: #333 !important;
      opacity: .8;
      pointer-events: none; }
    .news-slide .news-list .btn-prev:hover, .news-slide .news-list .btn-next:hover {
      background-color: white; }
    .news-slide .news-list:hover .btn-prev {
      animation-name: show__btn-prev;
      animation-duration: .5s;
      -webkit-animation-name: show__btn-prev;
      -webkit-animation-duration: .5s;
      left: 0; }

@keyframes show__btn-prev {
  from {
    left: -35px; }
  to {
    left: 0; } }
@-webkit-keyframes show__btn-prev {
  from {
    -webkit-left: -35px; }
  to {
    -webkit-left: 0; } }
.move-left-x {
  margin: 0 -35px !important;
  transition: .5s; }

.move-right-x {
  margin: 0 35px !important;
  transition: .5s; }

/*# sourceMappingURL=box-sport.css.map */
