@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
.list-news {
  font-family: Arial;
  max-width: 325px;
  max-height: 480px;
  position: relative; }
  .list-news ul {
    padding: 0px;
    margin: 0px; }
    .list-news ul li {
      list-style: none; }
  .list-news .article {
    padding: 10px;
    transition: all .8;
    opacity: .6; }
    .list-news .article:hover {
      opacity: 1;
      background: #f1f1f1; }
    .list-news .article .content {
      display: flex; }
      .list-news .article .content .left img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        border-radius: 5px; }
      .list-news .article .content .right a {
        text-decoration: none;
        color: #555;
        display: block;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px; }
      .list-news .article .content .right small {
        color: #9a9a9a; }

/*# sourceMappingURL=step8.css.map */
