.article {
  width: 460px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial; }
  .article__img {
    display: block;
    width: 460px;
    height: 289px; }
    .article__img img {
      width: inherit;
      height: inherit; }
  .article__title {
    margin: 10px 0; }
    .article__title a {
      text-decoration: none;
      color: #222;
      font-size: 26px;
      line-height: 30px; }
      .article__title a:hover {
        color: #555;
        transition: .4s; }
  .article__desc {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #444; }

/*# sourceMappingURL=bai3.css.map */
