body {
	display: flex;
	justify-content: space-around;
}

.container {
	max-width: 420px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	img {
		background: #F1F1FA;
		width: 400px;
		height: 300px;
		margin: 10px 0;
		border: 0;
	}
}

.container2 {
	height: 80vh;
}