

.links-news {
	width: 400px;
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding: 10px;
		&::before {
			content: "\2022";
			color: #fc743b;
			font-weight: bold;
			display: inline-block; 
			width: 1em;
			margin-left: -1em;
		}
		a {
			color: #383d54;
			text-decoration: none;
		}
	}
}