@import "../../libs/mixin";

$box-width: 700px;
$box-height: 400px;
$font-bold: SFD-Bold;
$font-medium: SFD-Medium;

.box-playlist {
	box-sizing: border-box;
	width: $box-width;
	height: $box-height;
	display: flex;
	border: 1px solid red;
	padding: 10px;
	.pla-left {
		width: 55%;
		position: relative;
		> a {
			img {
				width: 100%;
				height: 100%;
			}
		}
		.title {
			position: absolute;
			z-index: 1;
			bottom: 0px;
			left: 0px;
			margin: 0px;
			background: rgba(0,0,0,0.7);
			a {
				@include define-a(#fff);
				font-family: $font-bold;
				font-weight: 500;
				font-size: 22px;
				line-height: 30px;
				position: relative;
				bottom: 0px;
				padding: 20px;
				&::before {
					content: "|";
					color: red;
					font-weight: bold;
					margin-right: 5px;
				}
			}
		}
	}
	.pla-right {
		width: 45%;
		font-family: $font-medium;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.header {
			background-color: #dcdcdf;
			padding: 12px 15px 15px;
			span {
				background: url("images/mute-logo.png") left top no-repeat;
				width: 86px;
				height: 20px;
				display: block;
				background-size: cover;
			}
		}
		.list-news { 
			ul {
				height: $box-height - 75px;
				overflow-y: scroll;
			}
			@include reset-ul-li; 
			.article {
				padding: 10px 10px 10px 20px;
				transition: all .8;
				opacity: .6;
				&:hover {
					opacity: 1;
					background: #f1f1f1;
				}
				.content {
					display: flex;
					.left {
						img{
							width: 60px;
							height: 60px;
							margin-right: 15px;
							border-radius: 5px;
						}
					}
					.right {
						a {
							@include define-a(#424242);
							font-weight: bold;
							font-size: 15px;
							line-height: 18px;
						}
						small {
							color: #9a9a9a;
						}
					}
				}
				.play {
					content: url("images/wechoice-right-playicon.png");
					display: block;
				}
			}
		}
	}
}

.scrollbar-y {
	@include custum-scrollbar(7px, #d7d7d7, rgba(0,0,0,.3));
}