$box-width: 460px;
$font-family: Arial;

.article {
	width: $box-width;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: $font-family;
	&__img {
		display: block;
		width: $box-width;
		height: 289px;
		img {
			width: inherit;
			height: inherit;
		}
	}

	&__title {
		margin: 10px 0;
		a {
			text-decoration: none;
			color: #222;
			font-size: 26px;
			line-height: 30px;
			&:hover {
				color: #555;
				transition: .4s;
			}
		}
	}

	&__desc {
		margin: 0;
		font-size: 14px;
		line-height: 20px;
		color: #444;
	}
}