.image-map {
  width: 500px;
  height: auto; }
  .image-map img {
    width: inherit;
    position: relative; }

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: 0.3s;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltip-text {
  visibility: visible; }

/*# sourceMappingURL=bai2.css.map */
