@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
.news-slide {
  max-width: 700px;
  height: auto;
  font-family: Arial;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #e6e6e6; }
  .news-slide .header h3 {
    padding: 20px 0 20px 0px;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 0 60px; }
    .news-slide .header h3 .icon-news-slide {
      background: url("image/slide-box.png");
      width: 33px;
      height: 22px;
      display: inline-block;
      position: absolute;
      left: -45px; }
  .news-slide .news-list {
    position: relative;
    overflow: hidden; }
    .news-slide .news-list ul {
      padding: 0px;
      margin: 0px; }
      .news-slide .news-list ul li {
        list-style: none; }
    .news-slide .news-list ul {
      width: 2860px;
      height: 278px;
      overflow-x: hidden;
      overflow-y: hidden;
      display: flex;
      white-space: nowrap;
      position: relative; }
    .news-slide .news-list .article {
      width: 262px;
      height: 278px;
      margin-left: 20px;
      border: 1px solid #e6e6e6;
      background: #fff;
      border-radius: 3px;
      box-sizing: content-box;
      box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.05); }
      .news-slide .news-list .article .header {
        position: relative;
        display: block; }
        .news-slide .news-list .article .header img {
          width: 100%;
          height: auto; }
        .news-slide .news-list .article .header .view {
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          display: block;
          width: inherit;
          width: 100%;
          height: 35px;
          bottom: 5px;
          color: #fff; }
          .news-slide .news-list .article .header .view > span {
            position: relative;
            font-size: 15px;
            bottom: 4px;
            left: 35px; }
            .news-slide .news-list .article .header .view > span::before {
              position: absolute;
              background: url("image/kenh14-vn.png") -245px -145px no-repeat;
              background-repeat: no-repeat;
              width: 24px;
              height: 24px;
              content: '';
              bottom: -1px;
              left: -25px; }
            .news-slide .news-list .article .header .view > span label, .news-slide .news-list .article .header .view > span b {
              font-weight: normal;
              margin-right: 5px; }
            .news-slide .news-list .article .header .view > span label {
              color: #fff;
              font-size: 15px;
              line-height: 45px; }
      .news-slide .news-list .article .title {
        padding: 10px;
        margin: 0px;
        font-size: 17px;
        width: inherit;
        box-sizing: border-box; }
        .news-slide .news-list .article .title a {
          color: #333;
          line-height: 22px;
          text-decoration: none;
          font-size: 17px;
          display: block;
          font-family: SFD-Bold;
          white-space: pre-line; }
    .news-slide .news-list .btn-prev, .news-slide .news-list .btn-next, .news-slide .news-list .btn-disable {
      position: absolute;
      width: 35px;
      height: 95px;
      z-index: 10;
      cursor: pointer;
      top: 50px; }
    .news-slide .news-list .btn-prev {
      background: url("image/kenh14-vn.png") -70px -137px no-repeat;
      left: -35px;
      background-color: rgba(251, 108, 39, 0.9);
      border-radius: 0 3px 3px 0;
      transition: .5s; }
    .news-slide .news-list .btn-next {
      background: url("image/kenh14-vn.png") -115px -137px no-repeat;
      right: 0;
      background-color: rgba(251, 108, 39, 0.9);
      border-radius: 3px 0 0 3px; }
    .news-slide .news-list .btn-prev:hover, .news-slide .news-list .btn-next:hover {
      background-color: #fb6c27; }
    .news-slide .news-list .btn-disable {
      background-color: #333 !important;
      opacity: .8;
      pointer-events: none; }
    .news-slide .news-list:hover .btn-prev {
      animation-name: show__btn-prev;
      animation-duration: .5s;
      -webkit-animation-name: show__btn-prev;
      -webkit-animation-duration: .5s;
      left: 0; }
  .news-slide .control {
    text-align: center;
    margin: 20px 0; }
    .news-slide .control .dotted {
      width: 8px;
      height: 8px;
      background: #c4c4c4;
      border-radius: 50%;
      margin: 3px;
      display: inline-block;
      cursor: pointer; }
    .news-slide .control .slide-active {
      background-color: #ff8000; }

@keyframes show__btn-prev {
  from {
    left: -35px; }
  to {
    left: 0; } }
@-webkit-keyframes show__btn-prev {
  from {
    -webkit-left: -35px; }
  to {
    -webkit-left: 0; } }
@keyframes hidden__btn-prev {
  from {
    left: 0; }
  to {
    left: -35px; } }
@-webkit-keyframes hidden__btn-prev {
  from {
    -webkit-left: 0; }
  to {
    -webkit-left: -35px; } }
.move-left-x {
  margin: 0 -35px !important;
  transition: .5s; }

.move-right-x {
  margin: 0 35px !important;
  transition: .5s; }

/*# sourceMappingURL=news-slide.css.map */
