@import "../../libs/mixin";

.news-category {
	width: 343px;
	padding-right: 23px;
	box-sizing: border-box;
	&__header {
		text-transform: uppercase;
		display: block;
		border-left: 5px solid #fe5f02;
		font-weight: bold;
		padding: 0px 15px;
		margin: 0 0 15px 0;
		font-size: 18pt;
		line-height: 18px;
	}

	&__post-cover {
		&--img {
			width: 320px;
			img {
				width: inherit;
			}
		}
		&--title {
			font-size: 16pt;
			margin: 10px 0;
			a {
				@include define-a(#2d2d2d,20px,24px);
				font-family: SFD-Bold;
			}
		}
		&--description {
			font-size: 14px;
		    line-height: 20px;
		    color: #555;
		}
	}

	&__news-relate {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			padding: 10px 0;
			border-top: 1px solid #e6e6e6;
			a {
				@include define-a(#2d2d2d,15px,18px);
				font-family: SFD-Medium
			}
		}
	}
}