@import "../../libs/mixin";

$box-width: 300px;

.news-list-mobie {
	width: $box-width;
	ul {
		@include reset-pm;
		list-style: none;
		.article {
			display: flex;
			flex-direction: column;
			&__title {
				margin: 0 0 10px;
				a {
					@include define-a(#2d2d2d, 18px, 24px);
					font-family: SFD-Bold;
				}
			}

			&__content {
				display: flex;
				&--img {
					img {
						width: 150px;
						height: auto;
						margin-right: 10px;
					}
				}
				&--desc {
					p {
						margin: -3px 0 0;
						color: #666;
						font-family: arial;
						font-size: 13px;
						line-height: 17px;
					}
				}

				&--cate-time {
					font-size: 10px;
					color: #777;
					font-family: arial;
					>span {
						color: #ff5e34;
						font-weight: bold;
						font-size: 11px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}