.list-news {
  max-width: 300px;
  max-height: auto;
  font-family: Arial; }
  .list-news .lists {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column; }
    .list-news .lists .article {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .list-news .lists .article__img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        display: block; }
        .list-news .lists .article__img img {
          width: inherit;
          height: inherit; }
      .list-news .lists .article__content {
        margin: 0; }
        .list-news .lists .article__content a {
          color: #333;
          font-size: 14px;
          line-height: 21px;
          text-decoration: none; }

/*# sourceMappingURL=bai5.css.map */
