.ads-wrapper .content .article, .ads-wrapper .content .list-relate li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px; }

.ads-wrapper .content .list-relate {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column; }

.ads-wrapper {
  max-width: 160px;
  max-height: 600px;
  font-family: Arial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .ads-wrapper .header {
    position: relative;
    background: #16ac42;
    line-height: 40px; }
    .ads-wrapper .header__title {
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 10px;
      line-height: 20px; }
    .ads-wrapper .header__icon-link {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: block;
      background: url("image/adxlogo-2.png") no-repeat top right;
      width: 35px;
      height: 20px;
      text-decoration: none; }
      .ads-wrapper .header__icon-link:hover {
        width: 109px;
        background: url("image/adxlogo-2-hover.png") no-repeat top right;
        padding-left: 10px; }
        .ads-wrapper .header__icon-link:hover .txtlogo {
          display: block;
          box-sizing: content-box;
          display: block;
          font: 11px tahoma,arial;
          color: #9b9b9b;
          line-height: 17px;
          margin-left: 15px; }
      .ads-wrapper .header__icon-link .txtlogo {
        display: none; }
  .ads-wrapper .content .article {
    display: flex;
    flex-direction: column; }
    .ads-wrapper .content .article__img {
      width: 140px;
      height: 140px;
      margin-right: 10px; }
    .ads-wrapper .content .article__content {
      margin: 0; }
      .ads-wrapper .content .article__content a {
        color: #222222;
        line-height: 17px;
        text-decoration: none;
        font-size: 13px;
        display: block; }
      .ads-wrapper .content .article__content p {
        color: #555;
        margin: 10px 0 0 0;
        font-weight: normal;
        font-size: 12px; }
  .ads-wrapper .content .list-relate li {
    position: relative; }
    .ads-wrapper .content .list-relate li a {
      color: #222222;
      line-height: 17px;
      text-decoration: none;
      font-size: 13px;
      display: block;
      font-weight: bold; }
  .ads-wrapper .footer__author--links {
    font-weight: bold;
    color: #16ac42;
    line-height: 40px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin-left: 10px; }

/*# sourceMappingURL=ads-160x600.css.map */
