@import "../../libs/mixin";

$img-width: 250px;
$img-height: 156px;
$font-family: SFD-Bold;
$box-width: 700px;
$border-color: #ebebeb;


.insbox {
	max-width: $box-width;
	height: $img-height;
	font-family: $font-family;
	border: 1px solid $border-color;
	display: flex;
	position: relative;
	box-sizing: content-box;
	&__list {
		@include reset-ul-li;
		width: 700-40px;
		overflow: hidden;
		ul {
			height: 1000px;
		}
	}

	//news slide
	.article {
		display: flex;
		flex-direction: row;
		height: $img-height;
		&__img {
			margin-right: 20px;
			width: $img-width;
			height: $img-height;
			display: block;
			img {
				width: inherit;
				height: inherit;
			}
		}
	
		&__content {
			&--title {
				text-decoration: none;
				margin: 0px;
				h3 {
					color: #323232;
					margin: 0px;
					font-size: 20px;
					line-height: 26px;
				}
			}
			&--cate-time {
				padding: 10px 0px;
				span, .post-time {
					font-size: 14px;
				}
				span {
					color: #004174;
				}
				.post-time {
					color: #757575;
					font-family: Arial;
				}
			}
			&--desc {
				color: #777;
				font-size: 14px;
				line-height: 15px;
				font-family: SFD-Medium;
				margin: 15px 0 10px;
				display: block;
			}
		}
	}

	//control
	&__control {
		width: 39px;
		height: inherit;
		display: flex;
		flex-direction: column;
		border-left: 1px solid $border-color;
		justify-content: space-around;
		box-sizing: content-box;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		&--up, &--down {
			position: relative;
			background: #f9f9f9;
			width: inherit;
			height: 39px;
			span {
				position: absolute;
				top: 17px;
   				left: 14px;
			}
			&:hover {
				background: #f5f5f5;
				cursor: pointer;
			}
		}
		&--up {
			border-bottom: 1px solid $border-color;
			span {
				display: block;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid #ccc;
				content: '';
			}
			&:hover {
				span {
					border-bottom: 8px solid #333;
				}
			}
		}
		&--text {
			line-height: 75px;
			color: #555;
			font-size: 14px;
			font-family: SFD-Medium;
			width: 38px;
			text-align: center;
		}
		&--down{
			border-top: 1px solid $border-color;
			span {
				display: block;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid #ccc;
				content: '';
			}
			&:hover {
				span {
					border-top: 8px solid #333;
				}
			}
		}
	}
}

.insbox--transition {
	transition: .5s;
}