@import "../../libs/mixin";
@import"../../libs/config/config-menu3";
@import "../../libs/menu-master";

$background1: #f7f7f7 url("images/bg-menu.jpg");

.navbar {
	background: $background1 ;
	.navbar-ul {
		li {
			box-shadow: -1px 0px 0px #043364;
			a {
				padding: 7px 10px;
				font-size: 11px;
				font-family: Tahoma;
				line-height: 13px;
				&:hover {
					margin-top: 3px;
					padding-top: 4px; 
					border-radius: 6px 6px 0 0;
					background-color: #5981be;
				}
			}
		}
		.item-home {
			box-shadow: none;
		}
		.item-home {
			a {
				padding: 2px 10px;
				&:hover {
					margin-top: 0px;
					padding-top: 2px;
				}
			}
		}
	}
}