@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
.news-list-mobie {
  width: 300px; }
  .news-list-mobie ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .news-list-mobie ul .article {
      display: flex;
      flex-direction: column; }
      .news-list-mobie ul .article__title {
        margin: 0 0 10px; }
        .news-list-mobie ul .article__title a {
          text-decoration: none;
          display: block;
          color: #2d2d2d;
          font-size: 18px;
          line-height: 24px;
          font-family: SFD-Bold; }
      .news-list-mobie ul .article__content {
        display: flex; }
        .news-list-mobie ul .article__content--img img {
          width: 150px;
          height: auto;
          margin-right: 10px; }
        .news-list-mobie ul .article__content--desc p {
          margin: -3px 0 0;
          color: #666;
          font-family: arial;
          font-size: 13px;
          line-height: 17px; }
        .news-list-mobie ul .article__content--cate-time {
          font-size: 10px;
          color: #777;
          font-family: arial; }
          .news-list-mobie ul .article__content--cate-time > span {
            color: #ff5e34;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase; }

/*# sourceMappingURL=bai7.css.map */
