$font-family: SFD-Medium;
.navbar {
	font-family: $font-family;
	max-width: 100%;
	@include background-navbar($background);
	.navbar-ul {
		@include reset-ul;
		margin: auto;
		max-width: 960px;
		display: flex;
		li {
			a{
				@include define-a($define-a);
				font-size: 15px;
				padding: 0 12px;
				line-height: 40px;
				@include hover-a($hover-a);
			}
		}
		.item-home a {
			background: url("images/kenh14-vn.png") -490px 12px no-repeat;
			padding: 0 12px 40px;
		}
	}
}