$box-width: 262px;
$box-height: 258px;
$font-family: Arial;

.article {
	width: $box-width;
	height: $box-height;
	font-family: $font-family;
	margin: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #999;
	.header {
		position: relative;
		display: block;
		img {
			width: 100%;
			height: auto;
		}
		.view {
			background: rgba(0,0,0,0.7);
			position: absolute;
			display: block;
			width: inherit;
			width: 100%;
			height: 35px;
			bottom: 4px;
			color: #fff;
			>span {
				position: relative;
				font-size: 15px;
				bottom: 4px;
				left: 35px;
				&::before {
					position: absolute;
					background: url("images/icon-view.png");
					background-repeat: no-repeat;
					width: 24px;
					height: 24px;
					content: '';
					bottom: -1px;
					left: -25px;
					border-radius: 50%;
				}
				label, b {
					font-weight: normal;
					margin-right: 5px;
				}
				label {
					color: #fff;
					font-size: 15px;
					line-height: 45px;
				}
			}
			
		}
	}
	.title {
		padding: 0 10px 10px;
		margin: 0px;
		font-size: 17px;
		line-height: 17*1.5px;
		a {
			text-decoration: none;
			color: #333;
		}
	}

}