@import "../../libs/mixin";

$box-width: 325px;

.list-news {
	width: $box-width;
	ul {
		@include reset-pm;
		list-style: none;
		background-color: #fff9f3;
		.news {
			display: flex;
			border-bottom: 1px dotted #c2c2c2;
			&__time-post, &__content {
				margin: 5px 0px;
				padding: 10px;
			}
			&__time-post {
				color: #fe5f02;
				border-right: 1px dotted #c2c2c2;
			}
			&__content {
				a {
					@include define-a(#3e3e3d, 16px);
				}
			}
		}
	}
}