.wapper .shape {
  margin: 20px;
  float: left;
  width: 300px;
  height: 250px;
  background: #ccc;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  shape-outside: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); }
  .wapper .shape img {
    width: 320px;
    height: auto; }
.wapper p {
  width: 400px; }
.wapper p:nth-child(odd) {
  color: red; }

/*# sourceMappingURL=clip-path.css.map */
