#drag-drop {
  display: flex; }
  #drag-drop #item-drop {
    width: 150px;
    height: 150px; }
  #drag-drop .dv1, #drag-drop .dv2 {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc; }

/*# sourceMappingURL=drag-drop.css.map */
