@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
.news-category {
  box-sizing: border-box;
  max-width: 340px;
  padding: 15px;
  box-shadow: 0px 0px 10px #ccc;
  font-family: SFD-Bold; }
  .news-category .title-cate {
    margin-top: 5px; }
    .news-category .title-cate a {
      text-decoration: none;
      color: #222;
      display: block;
      text-transform: uppercase;
      border-left: 5px solid #fe5f02;
      font-weight: bold;
      padding: 0px 15px;
      margin: 0 0 15px 0;
      font-size: 18pt;
      line-height: 18px; }
  .news-category .post-cover a img {
    max-width: 310px; }
  .news-category .post-cover .title-post-cover {
    margin-top: 0px; }
    .news-category .post-cover .title-post-cover a {
      text-decoration: none;
      color: #333;
      display: block;
      font-size: 20px;
      line-height: 24px;
      margin: 10px 0; }
  .news-category ul {
    padding: 0px;
    margin: 0px; }
    .news-category ul li {
      list-style: none; }
  .news-category .news-relate {
    border-top: 1px solid #888; }
    .news-category .news-relate .article {
      max-width: 340px;
      display: flex;
      padding: 10px 0; }
      .news-category .news-relate .article a img {
        width: 60px;
        height: 60px;
        margin-right: 15px; }
      .news-category .news-relate .article h4 {
        margin: 0px; }
        .news-category .news-relate .article h4 a {
          text-decoration: none;
          color: #2d2d2d;
          display: block;
          font-size: 15px;
          line-height: 18px; }
          .news-category .news-relate .article h4 a:hover {
            opacity: 0.8; }

/*# sourceMappingURL=news-list2.css.map */
