.article {
  width: 262px;
  height: 258px;
  font-family: Arial;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #999; }
  .article .header {
    position: relative;
    display: block; }
    .article .header img {
      width: 100%;
      height: auto; }
    .article .header .view {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      display: block;
      width: inherit;
      width: 100%;
      height: 35px;
      bottom: 4px;
      color: #fff; }
      .article .header .view > span {
        position: relative;
        font-size: 15px;
        bottom: 4px;
        left: 35px; }
        .article .header .view > span::before {
          position: absolute;
          background: url("images/icon-view.png");
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          content: '';
          bottom: -1px;
          left: -25px;
          border-radius: 50%; }
        .article .header .view > span label, .article .header .view > span b {
          font-weight: normal;
          margin-right: 5px; }
        .article .header .view > span label {
          color: #fff;
          font-size: 15px;
          line-height: 45px; }
  .article .title {
    padding: 0 10px 10px;
    margin: 0px;
    font-size: 17px;
    line-height: 25.5px; }
    .article .title a {
      text-decoration: none;
      color: #333; }

/*# sourceMappingURL=bai2.css.map */
