@import "../../libs/mixin";

$box-width: 700px;
$box-height: auto;
$background-color: #222;
$highlight-color: #e02b2b;

.news-slide {
	max-width: $box-width;
	height: $box-height;
	font-family: Arial;
	box-sizing: border-box;
	background: $background-color;
	border-radius: 5px;
	border-top: 5px solid $highlight-color;
	position: relative;
	padding-bottom: 20px;
	overflow: hidden;
	// top
	&::before {
		width: 10%;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 3;
		background: linear-gradient(to right,rgba(255,255,255,0) 0,#222 100%);
		content: '';
	}
	.header {
		h3 {
			text-transform: uppercase;
			position: relative;
			margin: 15px 0 15px 20px;
			a {
				@include define-a(#fff, 26px);
				align-items: center;
				i {
					background: $highlight-color;
					width: 37px;
					height: 37px;
					border-radius: 100%;
					text-align: center;
					align-items: center;
					justify-content: center;
					display: inline-flex;					
				}
			}
		}
	}

	//news slide
	.news-list {
		@include reset-ul-li;
		position: relative;
		overflow: hidden;
		ul {
			width: 284*8+20px; //=sum(li)*width(li)+margin20
			height: 342px;
			overflow-x: hidden;
			overflow-y: hidden;
			display: flex;
			white-space: nowrap;
			position: relative;
		}
		// news list
		.article {
			width: 260px;
			height: 342px;
			margin-left: 20px;
			background: #fff;
			border-radius: 4px;
			box-sizing: border-box;
			box-shadow: 0px 1px 5px 0 rgba(0,0,0,.05);
			overflow: hidden;
			.header {
				position: relative;
				display: block;
				border: 1px solid rbga(255,255,255,.1);
				img {
					width: 260px;
					height: 342px;
				}
				&:hover {
					transform: scale(1.025);
					transition: .5s;
				}
			}
		}
		
		// button control next-previous
		.btn-prev, .btn-next, .btn-disable {
			position: absolute;
			width: 35px;
			height: 95px;
			z-index: 10;
			cursor: pointer;
			top: 30%;
		}
		// button previous
		.btn-prev {
			background: url("image/kenh14-vn.png") -70px -137px no-repeat;
			left: -35px;
			background-color: $highlight-color;
			border-radius: 0 3px 3px 0;
			transition: .5s;
		}
		// button next
		.btn-next {
			background: url("image/kenh14-vn.png") -115px -137px no-repeat;
			right: 0;
			background-color: $highlight-color;
			border-radius: 3px 0 0 3px;
		}

		//button disable
		.btn-disable {
			background-color: #333 !important;
			opacity: .8;
			pointer-events: none;
		}
		&:hover {
			.btn-prev {
				animation-name: show__btn-prev;
				animation-duration: .5s;
				-webkit-animation-name: show__btn-prev;
				-webkit-animation-duration: .5s;
				left: 0;
			}
		}
	}

	//dotted control
	.control {
		position: absolute;
		z-index: 4;
	    top: 25px;
    	right: 20px;
		.dotted {
			width: 8px;
			height: 8px;
			background: #404040;
			border-radius: 50%;
			margin: 3px;
			display: inline-block;
			cursor: pointer;
		}
		.slide-active {
			background-color: $highlight-color;
		}
	}
}

// animation show button previous of slide
@keyframes show__btn-prev {
	from {left: -35px}
	to {left: 0}
}
@-webkit-keyframes show__btn-prev {
	from {-webkit-left: -35px}
	to {-webkit-left: 0}
}


@keyframes hidden__btn-prev {
	from {left: 0}
	to {left: -35px}
}
@-webkit-keyframes hidden__btn-prev {
	from {-webkit-left: 0}
	to {-webkit-left: -35px}
}

//animation when hover news on slide
@keyframes zoom {
	from {transform: scale(1)}
	to {transform: scale(1.1)}
}
@-webkit-keyframes zoom {
	from {transform: scale(1)}
	to {transform: scale(1.1)}
}

.move-left-x {
	margin: 0 -35px !important;
	transition: .5s;
}

.move-right-x {
	margin: 0 35px !important;
	transition: .5s;
}
