@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2"); }
.insbox {
  max-width: 700px;
  height: 156px;
  font-family: SFD-Bold;
  border: 1px solid #ebebeb;
  display: flex;
  position: relative;
  box-sizing: content-box; }
  .insbox__list {
    width: 660px;
    overflow: hidden; }
    .insbox__list ul {
      padding: 0px;
      margin: 0px; }
      .insbox__list ul li {
        list-style: none; }
    .insbox__list ul {
      height: 1000px; }
  .insbox .article {
    display: flex;
    flex-direction: row;
    height: 156px; }
    .insbox .article__img {
      margin-right: 20px;
      width: 250px;
      height: 156px;
      display: block; }
      .insbox .article__img img {
        width: inherit;
        height: inherit; }
    .insbox .article__content--title {
      text-decoration: none;
      margin: 0px; }
      .insbox .article__content--title h3 {
        color: #323232;
        margin: 0px;
        font-size: 20px;
        line-height: 26px; }
    .insbox .article__content--cate-time {
      padding: 10px 0px; }
      .insbox .article__content--cate-time span, .insbox .article__content--cate-time .post-time {
        font-size: 14px; }
      .insbox .article__content--cate-time span {
        color: #004174; }
      .insbox .article__content--cate-time .post-time {
        color: #757575;
        font-family: Arial; }
    .insbox .article__content--desc {
      color: #777;
      font-size: 14px;
      line-height: 15px;
      font-family: SFD-Medium;
      margin: 15px 0 10px;
      display: block; }
  .insbox__control {
    width: 39px;
    height: inherit;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ebebeb;
    justify-content: space-around;
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .insbox__control--up, .insbox__control--down {
      position: relative;
      background: #f9f9f9;
      width: inherit;
      height: 39px; }
      .insbox__control--up span, .insbox__control--down span {
        position: absolute;
        top: 17px;
        left: 14px; }
      .insbox__control--up:hover, .insbox__control--down:hover {
        background: #f5f5f5;
        cursor: pointer; }
    .insbox__control--up {
      border-bottom: 1px solid #ebebeb; }
      .insbox__control--up span {
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ccc;
        content: ''; }
      .insbox__control--up:hover span {
        border-bottom: 8px solid #333; }
    .insbox__control--text {
      line-height: 75px;
      color: #555;
      font-size: 14px;
      font-family: SFD-Medium;
      width: 38px;
      text-align: center; }
    .insbox__control--down {
      border-top: 1px solid #ebebeb; }
      .insbox__control--down span {
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #ccc;
        content: ''; }
      .insbox__control--down:hover span {
        border-top: 8px solid #333; }

.insbox--transition {
  transition: .5s; }

/*# sourceMappingURL=news-slide-4.css.map */
