@import "../../libs/mixin";

$img-width: 250px;
$img-height: 164px;
$font-family: SFD-Bold;
$box-width: 720px;

#wrapper {
	max-width: $box-width;
	margin: auto;
	font-family: $font-family;
	.article {
		display: flex;
		flex-direction: row;
		padding: 10px 0px;
		border-bottom: 1px solid #dadada;
		.left {
			margin-right: 20px;
			img {
				max-width: $img-width;
				height: $img-height;
				margin-top: 5px; 
			}
		}
	
		.right {
			.title {
				text-decoration: none;
				margin: 0px;
				h3 {
					color: #323232;
					margin: 0px;
					font-size: 20px;
					line-height: 26px;
				}
			}
			.cate-time {
				padding: 10px 0px;
				span, .post-time {
					font-size: 14px;
				}
				span {
					color: #004174;
				}
				.post-time {
					color: #757575;
					font-family: Arial;
				}
			}
			.desc {
				color: #4b4b4b;
				font-size: 13px;
				line-height: 18px;
				font-family: Arial;
			}
		}
	}
}