.gallery-sort {
  max-width: 700px;
  max-height: auto;
  font-family: arial;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .gallery-sort__lists {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }
    .gallery-sort__lists li {
      list-style: none;
      cursor: pointer;
      transition: .3s; }
      .gallery-sort__lists li:hover {
        opacity: .7; }
  .gallery-sort__img--first-row {
    margin-bottom: 20px;
    width: 220px;
    height: 141px; }
  .gallery-sort__desc {
    background: #f2f2f2; }
    .gallery-sort__desc p {
      color: #666;
      padding-left: 20px; }
  .gallery-sort__modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 100px; }
    .gallery-sort__modal--close {
      color: #f1f1f1;
      position: absolute;
      top: 15px;
      right: 35px;
      font-size: 50px; }
      .gallery-sort__modal--close:hover {
        color: #bbb;
        cursor: pointer; }
    .gallery-sort__modal--content {
      width: 50%;
      display: block;
      margin: auto; }
    .gallery-sort__modal--caption {
      width: 50%;
      margin: auto;
      color: #f1f1f1;
      line-height: 50px;
      text-align: center; }
    .gallery-sort__modal--caption, .gallery-sort__modal--content {
      animation-name: zoom;
      animation-duration: 0.6s;
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s; }

.margin-left-20 {
  margin-left: 20px; }

.margin-left-right-20 {
  margin-left: 20px;
  margin-right: 20px; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=gallery-sort.css.map */
