@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2");
}

@mixin define-a($color, $size, $line-height: auto) {
	text-decoration: none;
	display: block;
	color: $color;
	font-size: $size;
	line-height: $line-height;
}

@mixin reset-pm {
	padding: 0;
	margin: 0;
}