@mixin reset-ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

@mixin reset-pm {
	padding: 0;
	margin: 0;
}

@mixin define-a($color,$size,$line-height:auto) {
	color: $color;
	line-height: $line-height;
	text-decoration: none;
	font-size: $size;
	display: block;
}

@mixin hover-a($color) {
	&:hover {
		background-color: $color;
		transition: .1s;
	}
}

@mixin background-navbar($color) {
	background-color: $color;
}

@mixin reset-ul-li {
	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
		}
	}
}

@mixin custum-scrollbar($width, $color,$hover) {
	/* width */
	&::-webkit-scrollbar {
	  width: $width;
	}

	//Track
	/* &::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey; 
	  border-radius: 2px;
	} */
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: $color; 
	  border-radius: 3px;
	  opacity: 0.3;
	  }

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	  background: $hover;
	}
}

@font-face {
  font-family: "SFD-Bold";
  src: url("../../../font/SFD-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SFD-Medium";
  src: url("../../../font/SFD-Medium.woff2") format("woff2");
}
