.links-news {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 500px; }
  .links-news li {
    background-image: url("images/icon1.jpg");
    background-repeat: no-repeat;
    margin: 10px 0px;
    padding-left: 25px; }
    .links-news li h4 {
      display: block; }
      .links-news li h4 a {
        color: #004a74;
        text-decoration: none;
        font-size: bold; }

/*# sourceMappingURL=bai10.css.map */
