@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
#latest-news {
  font-family: Arial;
  box-sizing: border-box;
  max-width: 325px;
  max-height: 480px; }
  #latest-news .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    height: 32px; }
    #latest-news .header span {
      margin: 0px;
      max-width: 180px; }
    #latest-news .header .title {
      text-transform: uppercase;
      border-left: 5px solid #fe5f02;
      font-weight: bold;
      padding-left: 10px;
      margin: 0 0 15px 0;
      font-size: 18pt;
      line-height: 18px;
      flex-grow: 1; }
    #latest-news .header .control {
      display: flex;
      justify-content: space-between; }
      #latest-news .header .control .btn-prev, #latest-news .header .control .btn-next {
        background-color: #dadada;
        width: 40px;
        height: 22px;
        border-radius: 3px;
        position: relative; }
        #latest-news .header .control .btn-prev::before, #latest-news .header .control .btn-next::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -3px;
          margin-left: -6px; }
      #latest-news .header .control .btn-prev {
        opacity: 0.3;
        margin-right: 5px; }
        #latest-news .header .control .btn-prev:hover {
          opacity: 0.5; }
        #latest-news .header .control .btn-prev::before {
          border-bottom: 6px solid black; }
      #latest-news .header .control .btn-next {
        opacity: 0.8; }
        #latest-news .header .control .btn-next:hover {
          opacity: 1; }
        #latest-news .header .control .btn-next::before {
          border-top: 6px solid black; }
  #latest-news .list-news {
    background-color: #fff9f3; }
    #latest-news .list-news ul {
      padding: 0px;
      margin: 0px; }
      #latest-news .list-news ul li {
        list-style: none; }
    #latest-news .list-news ul {
      border: 1px solid #ddcebc;
      border-radius: 4px;
      background-color: #fff9f2;
      overflow-y: scroll;
      height: 428px;
      /* width */
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      #latest-news .list-news ul::-webkit-scrollbar {
        width: 5px; }
      #latest-news .list-news ul::-webkit-scrollbar-track {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px; }
      #latest-news .list-news ul::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px; }
      #latest-news .list-news ul::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2); }
      #latest-news .list-news ul li {
        border-bottom: 1px dotted #c2c2c2;
        display: flex; }
        #latest-news .list-news ul li .time-post, #latest-news .list-news ul li h4 {
          margin: 5px 0px;
          padding: 10px; }
        #latest-news .list-news ul li .time-post {
          font-size: 13px;
          line-height: 42px;
          color: #fe5f02;
          border-right: 1px dotted #c2c2c2; }
        #latest-news .list-news ul li h4 a {
          text-decoration: none;
          color: #2d2d2d;
          display: block;
          font-family: SFD-Bold;
          font-size: 15px;
          line-height: 20px; }
          #latest-news .list-news ul li h4 a:hover {
            color: #555;
            transition: 0.2s; }

/*# sourceMappingURL=step9.css.map */
